@import './realize/reset.scss';
@import './realize/lin-variables.scss';

.mr10{
  margin-right: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
.ml20 {
  margin-left: 20px;
}
.mr20 {
  margin-right: 20px;
}
.mt10 {
  margin-top: 10px;
}
.mt40 {
  margin-top: 40px;
}
img[lazy='loading']{
  display:block;
  width:25px!important;
  height:25px!important;
  margin:0 auto;
}
.content{
  margin-bottom: 20px;
  text-align: justify;
  word-break: break-word;
  line-height: 28px;
  font-size: 15px;
  color: #444;
  img{
    display:inline-block!important;
    width: auto!important;
  }
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}
