@import './realize/reset.scss';
@import './realize/lin-variables.scss';

.mr10{
  margin-right: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
.ml20 {
  margin-left: 20px;
}
.mr20 {
  margin-right: 20px;
}
.mt10 {
  margin-top: 10px;
}
.mt40 {
  margin-top: 40px;
}
img[lazy='loading']{
  display:block;
  width:25px!important;
  height:25px!important;
  margin:0 auto;
}
.content{
  font-size: 16px!important;
  line-height: 1.4!important;
  color: #222!important;
  img{
    display:inline-block!important;
    width: auto!important;
  }
}
